* {
	margin: 0;
	padding: 0;
}

img {
	vertical-align: top;
}

html {
	font-size: 10px;
}

body {
	background-color: #111;
	font-family: -apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans",
	"Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.images {
	overflow: hidden;
	margin: 2rem 2rem;
}

.images .image {
	position: relative;
}

.images .image .img {
	width: 100%;
	margin-bottom: 3rem;
}

.images .image .caption {
	font-size: 2rem;
	padding: 0.5rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	color: white;
	display: inline-block;
}

.images .image .caption .text {
	display: block;
}

.images .image .caption .location {
	font-size: 1rem;
	display: block;
}

.images .image .caption .user {
	margin: 1rem 0 0;
	width: 5rem;
	border-radius: 100%;
}

/* Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.images {
		width: 640px;
		margin: 2rem auto;
	}
}