<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bigstagram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  </head>
  <body>
    <div id="app">
      <ul class="images">
        <li v-for="img in feed.data" class="image">
          <h3 class="caption">
            <span v-if="img.location" class="location">{{img.location.name}}</span>
            <span v-if="img.caption" class="text">{{img.caption.text}}</span>
            <img :src="img.user.profile_picture" class="user">
          </h3>
          <img :src="img.images.standard_resolution.url" class="img">
        </li>
      </ul>
    </div>
    <script src="js/app.bundle.js" charset="utf-8"></script>
  </body>
</html>
