<!DOCTYPE html>
<html lang="en">
<head>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7753626648860952",
            enable_page_level_ads: true
        });
    </script>

    <title>Bi. Your Instagram feed, but bigger!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Bi, your Instagram feed but bigger." />
    <meta name="keywords" content="bi, big, bigger, instagram, feed" />
    <link rel="canonical" href="https://bi.singuerinc.com/" />

    <meta name="author" content="singuerinc" />
    <meta name="description" content="Bi, your Instagram feed but bigger." />
    <meta name="robots" content="follow">

    <meta property="fb:app_id" content="685703318259251" />
    <meta property="fb:admins" content="nahuel.scotti" />

    <meta property="og:site_name" content="Bi" />
    <meta property="og:title" content="Bi">
    <meta property="og:description" content="Your Instagram feed but bigger.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://bi.singuerinc.com/">

    <meta property="og:image" content="https://bi.singuerinc.com/img/bi.png">
    <meta property="og:locale" content="en_US" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="816" />
    <meta property="og:image:height" content="816" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@singuerinc" />
    <meta name="twitter:title" content="Bi" />
    <meta name="twitter:description" content="Your Instagram feed but bigger." />
    <meta name="twitter:image" content="https://bi.singuerinc.com/img/bi.png" />

    <link rel="stylesheet" href="css/main.css">

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-881783-16', 'auto');
        ga('require', 'linkid');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>
</head>
<body class="home">
<div id="app">

    <h1>Bi<small>by singuerinc</small></h1>
    <h2>Your Instagram feed,<br>but bigger!</h2>

    <div ref="login" class="login">
        <a v-on:click="login">Login</a>
        <p>Log in in order to display your photos.</p>
        <p>Bi does not store any information.</p>
    </div>

    <ul ref="zoom" class="zoom hide">
        <li>
            <a class="x1" v-bind:class="{active: zoom == 'x1'}" v-on:click="setZoom(1)">
                <img src="img/ic_image_black_24px.svg" alt="x1">
            </a>
        </li>
        <li>
            <a class="x2" v-bind:class="{active: zoom == 'x2'}" v-on:click="setZoom(2)">
                <img src="img/ic_image_black_24px.svg" alt="x2">
            </a>
        </li>
        <li>
            <a class="x3" v-bind:class="{active: zoom == 'x3'}" v-on:click="setZoom(3)">
                <img src="img/ic_image_black_24px.svg" alt="x3">
            </a>
        </li>
    </ul>

    <ul class="images" v-bind:class="zoom" v-cloak>
        <li v-for="img in feed.data" class="image">
            <h3 class="caption">
                <span v-if="img.location" class="location">{{img.location.name}}</span>
                <span v-if="img.caption" class="text">{{img.caption.text}}</span>
                <!--<img :src="img.user.profile_picture" class="user">-->
            </h3>
            <img :src="get1080(img.images.standard_resolution)" class="img">
        </li>
    </ul>

    <footer>
        <p><a href="policy.html" target="_parent">Terms of Service and Privacy Policy</a></p>
    </footer>

</div>
<script src="js/app.bundle.js" charset="utf-8"></script>
</body>
</html>
